body {
    background-color: #080f19ff;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.file-button {
    color: rgb(255, 255, 255);
    background-color: #080f18;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-color: rgb(54, 54, 54);
    border-style:solid;
    border-width: 0px;
    border-radius: 0px;
    margin: 10px;
    padding: 10px;
    transition: 0.2s;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    font-size: 16px;
    line-height: normal;
    display: flex;
}

.file-button:hover {
    transform: scale(1.05,1.05);
    border-width: 0px;
    border-left-width: 5px;
}

.buttons{
    display: flex;
    height: 100px;
}

button{
    color: rgb(255, 255, 255);
    background-color: #080f18;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 200px;
    margin: 10px;
    border-width: 1px;
    border-color: #ebebeb;
}

button:hover{
    transform: scale(1.05,1.05);
    border-color: #ff5800ff;
}

.logdiv{
   margin-top: 80px; 
}

.banner{
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
}

a{
    background-color: #ff5800ff;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    margin-left: 70%;
    margin-bottom: 10px;
    padding: 5px;

}

a:hover{
    transform: scale(1.05,1.05);

}

