body {
    background-color: #080f19ff;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 420px;
}


.file-button {
    color: rgb(255, 255, 255);
    background-color: #080f18;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-color: rgb(255, 255, 255);
    border-style:solid;
    border-width: 0px;
    border-left-width: 1px;
    border-radius: 1px;
    margin: 10px;
    padding: 10px;
    transition: 0.2s;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    font-size: 16px;
    line-height: normal;
    /*display: flex;*/
}

.file-button:hover {
    transform: scale(1.05,1.05);
    border-radius: 2px;
    border-width: 1px;
    border-left-width: 5px;
    text-overflow:unset;
    overflow:scroll;
    word-wrap: break-word;
    white-space: normal;
    height: 80px;
}

.buttons{
    display: flex;
    height: 100px;
}

button{
    color: rgb(255, 255, 255);
    background-color: #080f18;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width:70%;
    margin: 10px;
    border-width: 1px;
    border-color: #ebebeb;
}

button:hover{
    transform: scale(1.05,1.05);
    border-color: #ff5800ff;
    border-left-width: 5px;
    box-shadow: 0px 0px 20px #1c3558;
}


.logdiv{
   margin-top: 30px; 
}

.banner{
    display: flex;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
}

a{
    background-color: #ff5800ff;
    text-decoration: none;
    border-radius: 1px;
    color: white;
    margin-left: 60%;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 5px;

}

a:hover{
    transform: scale(1.05,1.05);

}

.logdiv{
    max-width: 300px;
    margin-bottom: 20px;
}
